body  {
  background-color: turquoise;
}
h1  {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background-color: cadetblue;
  border: ridge 5px teal;
  margin-right: 20%;
  margin-left: 20%;
}
.column {
    width: 200px;
    float: left;
    padding: 10%;
    margin: 8px;
  }
.image  {
  border: 5px solid teal;
}
#portraits  {
  background-color: thistle;
}
#nature {
  background-color: whitesmoke;
}
#buildings  {
  background-color: snow;
}